html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $samara-background-color;
  border-top: none;
  display: flex;
  flex-direction: column;
  font-family: $font-stack-system;
  line-height: 20px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
}

section {
  flex: 1;
}


.content {
  flex: 1;
}
