html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  border-top: none;
  font-family: $font-stack-system;
  line-height: 20px;
}

section {
  flex: 1;
}


.content {
  flex: 1;
}
