<section class="header">
  <div class="header-container" data-role="header">
    <a href="/" class="branding">
      <h1 class="small-logo">
        <img src="" alt="">
      </h1>
    </a>
    <a class="site-nav__menu js-toggle-menu-trigger">
      Menu
    </a>
    <nav>
      <%= partial "partials/header_links" %>
    </nav>
  </div>
</section>
