.paragraph {
  margin-left: auto;
  margin-right: auto;
  width: 1008px;
  margin-bottom: 1.25em;

  a {
    color: #333;
    .underline-link {
      text-decoration: underline;
    }
    &:hover {
    }
  }
}

.big-text {
  font-size: 3.43em;
}

.words {
}

.link-is-hovered {
  color: lighten(#333, 50%);
}
