.about {
}

.about p {
  font-size: $header-four-size;
}

.tools {
}

.at-this-moment {
}

.contact {
}

.contact h4 {
  font-weight:$font-weight-normal;
}

// shared text manipulations
.about h4,
.contact h4 {
  font-weight:$font-weight-normal;
  // letter-spacing: 0.06em;
}

.tools p,
.at-this-moment p,
.connect p {
  font-weight: bold;
}

.about p,
.tools li,
.at-this-moment li,
.connect {
  letter-spacing: 0.04em;
  @include below($medium-screen-size) {
    font-size: $base-size-16;
    // letter-spacing: 0.02em;
  }
}

// shared layout spacing
.about h4,
.contact h4 {
  margin-top: 5.6em;
  margin-bottom: 5.6em;
}

.tools,
.at-this-moment,
.connect {
  margin-top: 1em;
  margin-bottom: 1em;
}

.about p,
.tools li,
.at-this-moment li,
.connect li {
  margin-left: 2rem;
}
