<div class="logo" id="logo">
  <div class="logo-wrapper">
    <img src="" alt="">
  </div>
</div>
<div class="about" id="message">
  <h4>Nathan Jones -</h4>
  <p>
    Architecturally trained software developer living in Chicago.<br>
    Building and teaching software for new beginnings,<br>
    while exploring my interests in technology.
  </p>
</div>
<div class="tools">
  <p>tools</p>
  <ul>
    <li>Ruby on Rails</li>
    <li>Javascript</li>
  </ul>
</div>
<div class="at-this-moment">
  <p>at this moment</p>
  <ul>
    <li>Teaching Assistant at
      <a href="https://codingbootcamp.northwestern.edu/" target="_blank">Northwestern</a>
    </li>
    <li>Lead developer at
      <a href="https://theminte.com" target="_blank">The Minte</a>
    </li>
    <li>Contributor for
      <a href="http://www.provide.care/" target="_blank">Provide</a>
    </li>
  </ul>
</div>
<div class="connect">
  <p>connect</p>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/mrjonesbot/" target="_blank">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/mrjonesbot" target="_blank">Github</a>
    </li>
  </ul>
</div>
<div class="contact">
  <h4>
    Get in touch  <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <a href="mailto:nate@mrjones.io">nate@mrjones.io</a>,<br>
    view my <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <a href="https://www.dropbox.com/s/m4tkwom2dkrtze5/naj_resume_current.pdf?dl=0" target="_blank">resume</a>.
  </h4>
</div>
