<div class="logo" id="logo">
  <div class="logo-wrapper">
    <img src="" alt="">
  </div>
</div>
<div class="about" id="message">
  <h4>Nathan Jones</h4>
  <p>
    I work with companies to build <mark style="color:#ff8988;background:#f8f8f8;padding:4px;"><bold>efficient, intelligible and impactful</bold></mark> digital products. 
  </p>
  <p>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <a href="mailto:nate@mrjones.io" style="color:#ff8988;background:#f8f8f8;padding:4px">nate@mrjones.io</a>
  </p>
</div>
<div class="tools">
  <p>tools</p>
  <ul>
    <li>Ruby</li>
    <li>Javascript/ES6</li>
    <li>React & React Router</li>
    <li>Redux</li>
    <li>PostgreSQL</li>
  </ul>
</div>
<div class="at-this-moment">
  <p>at this moment</p>
  <ul>
    <li>Technical Lead at
      <a href="https://launchpadlab.com/" target="_blank">Launchpad Lab</a>
    </li>
  </ul>
</div>
<div class="connect">
  <p>connect</p>
  <ul>
    <li>
      <a href="https://github.com/mrjonesbot" target="_blank">Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mrjonesio/" target="_blank">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.twitter.com/mrjonesbot" target="_blank">Twitter</a>
    </li>
  </ul>
</div>
