<div class="logo" id="logo">
  <div class="logo-wrapper">
    <img src="" alt="">
  </div>
</div>
<div class="about" id="message">
  <h4>Nathan Jones -</h4>
  <p>
    I'm a creative technologist hailing from Baltimore living in Chicago.<br>
    I have a degree in
    <span id="education" class="education">architecture,</span>
    and used to work for
    <span id="employers" class="employers">these
      <a href="http://www.som.com/" target="_blank">folks.</a>
    </span>
  </p>
</div>
<div class="tools">
  <p>tools</p>
  <ul>
    <li>Ruby on Rails</li>
    <li>Javascript</li>
  </ul>
</div>
<div class="at-this-moment">
  <p>at this moment</p>
  <ul>
    <li>Teaching Assistant at
      <a href="https://codingbootcamp.northwestern.edu/" target="_blank">Northwestern</a>
    </li>
    <li>Building software for
      <a href="https://theminte.com" target="_blank">new business</a>
    </li>
  </ul>
</div>
<div class="connect">
  <p>connect</p>
  <ul>
    <li>LinkedIn</li>
    <li>Instagram</li>
  </ul>
</div>
<div class="contact">
  <h4>
    Get in touch --> <a href="mailto:nate@mrjones.io">nate@mrjones.io</a>
  </h4>
</div>
